<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Database Records</title>
</head>

<body>
    <table border="solid">
        <tr>
            <th>Document</th>
            <th>options</th>
        </tr>

        <% db.forEach((doc)=> { %>
            <tr>
                <td>
                    <%= doc%>
                </td>

                <td>

                <form action="/deletedocs" method="post">
                    <input type="hidden" name="Id" value="<%= doc._id %>">
                    <button type="submit" style="background: red;">Delete</button>
                </form>
                <form action="/updatedocs"method="post">
                    <input type="hidden" name="UId" value="<%= doc._id %>">
                    <button type="submit" >Update</button>
                </form>
                <%})%>
                </td>
            </tr>
    </table>
    <form action="goinsert" method="post">
        <button >insert new data</button>

</body>

</html>